.gradient-background {
  background: radial-gradient(transparent, transparent, #242424, #242424);
  height: fit-content;
  width: fit-content;
}


.glow-text {
  animation: glow 1.6s ease-in-out infinite alternate;
}

/* @keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  } */
  @keyframes glow {
    from {
      text-shadow: 0 0 0px #ffffff62, 0 0 10px #000000e5;
    }
    to {
      text-shadow: 0 0 5px #ffffff70, 0 0 5px #a60bff38, 0 0 10px #a60bff34, 0 0 15px #a60bff33;
    }
}
